# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Coverage
coverage/

# Android/Gradle
**/android/**/GeneratedPluginRegistrant.java
**/android/.gradle/
.gradle-user/
**/android/local.properties
**/android/captures/
**/android/key.properties
**/android/app/google-services.json
**/android/app/*.jks
**/android/app/*.keystore

# iOS/Pods and generated Flutter files
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh

# IDE and editor files
.idea/
*.iml
.vscode/

# Logs and temp files
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db
